.advice-number {
    font-family: 'Manrope';
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 4.08571px;
    color: #53FFAA;
}

.advice {
    font-family: 'Manrope';
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #CEE3E9;
    padding-bottom: 40px;
}

.circle {
   width: 64px;
   height: 64px;
   background-color: #53FFAA;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 395px;
}

.circle:hover {
    background: #53FFAA;
    box-shadow: 0px 0px 40px #53FFAA;
    cursor: pointer;
}

.circle img {
    width: 24px;
    height: 24px;
}