.card {
    width: 540px;
    height: 364px;
    background-color: #313A48;
    border-radius: 15px;
    box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}